<template>
  <div>
    <base-container>
      <account-container
        :title="farmData.name"
        action-title=""
      >
        <div>
          <div class="farm-detail">
            <a-row :gutter="20">
              <a-col :lg="{ span: 12 }">
                <div v-if="farmData && farmData.medias && farmData.medias.length === 0" class="farm-img-wrapper">
                  <div class="no-img dp-flex jtf-ct-center al-it-center">
                    ฟาร์มนี้ยังไม่มีภาพ
                  </div>
                </div>
                <a-carousel v-else arrows dots-class="slick-dots slick-thumb">
                  <a slot="customPaging" slot-scope="props">
                    <img :src="farmData.medias[props.i].path">
                  </a>
                  <div v-for="(media, index) in farmData.medias" :key="index">
                    <div
                      class="show-image cs-pointer"
                      :style="{ backgroundImage: `url('${media.path}')`}"
                      @click="previewImage(media.path)"
                    />
                  </div>
                </a-carousel>
              </a-col>
              <a-col class="pd-t-20px-max-lg" :lg="{ span: 12 }">
                <div>
                  <div class="title">
                    ข้อมูลทั่วไป
                  </div>
                  <div class="content">
                    <div class="item">
                      <span class="header-title">ชื่อฟาร์ม : </span>
                      <span class="detail">{{ farmData.name || '-' }}</span>
                    </div>
                    <div class="item">
                      <span class="header-title">ชนิดพันธุ์ : </span>
                      <span class="detail">{{ farmData.fruitType || '-' }}</span>
                    </div>
                    <div class="item">
                      <span class="header-title">สายพันธุ์ : </span>
                      <span class="detail">{{ farmData.fruitBreed || '-' }}</span>
                    </div>
                    <div class="item">
                      <span class="header-title">พื้นที่ปลูก(ไร่) : </span>
                      <span class="detail">{{ farmData.numArea | numberComma }}</span>
                    </div>
                    <div class="item">
                      <span class="header-title">จำนวนต้น(ไร่) : </span>
                      <span class="detail">{{ farmData.numTree | numberComma }}</span>
                    </div>
                  </div>
                </div>
                <div class="standard">
                  <div class="title">
                    มาตรฐาน
                  </div>
                  <div class="content">
                    <div class="item">
                      <span class="header-title">มาตรฐาน : </span>
                      <span class="detail">{{ farmData.farmStandard || '-' }}</span>
                    </div>
                  </div>
                </div>
                <div class="address">
                  <div class="title">
                    ที่ตั้ง
                  </div>
                  <div class="content">
                    <div class="item">
                      <span class="header-title">{{ farmData.address || '-' }}</span>
                    </div>
                    <div class="item">
                      <span class="header-title">แขวง/ตำบล : </span>
                      <span class="detail">{{ farmData.subDistricts && farmData.subDistricts.th || '-' }}</span>
                    </div>
                    <div class="item">
                      <span class="header-title">เขต/อำเภอ : </span>
                      <span class="detail">{{ farmData.districts && farmData.districts.th || '-' }}</span>
                    </div>
                    <div class="item">
                      <span class="header-title">จังหวัด : </span>
                      <span class="detail">{{ farmData.province && farmData.province.th || '-' }}</span>
                    </div>
                    <div class="item">
                      <span class="header-title">รหัสไปรษณีย์ : </span>
                      <span class="detail">{{ farmData.postalCode || '-' }}</span>
                    </div>
                  </div>
                </div>
              </a-col>
            </a-row>
          </div>
          <div class="table-auction-section mg-t-24px">
            <div class="title-wrapper">
              <span class="title">การประมูลที่กำลังเปิด</span>
            </div>
            <div class="table-auction-wrapper">
              <div class="auction-table">
                <auction-table
                  :auctions="openAuctions"
                  :total="openAuctionPageData.count"
                  :is-auction="true"
                  :current-page="openCurrentPage"
                  :is-pre="false"
                  @selectAuction="onSelectAuction"
                  @changePage="page => onChangeOpenPage(page)"
                />
              </div>
            </div>
          </div>
          <div class="table-auction-section">
            <div class="title-wrapper">
              <span class="title">การประมูลที่กำลังจะเปิด</span>
            </div>
            <div class="table-auction-wrapper">
              <div class="auction-table">
                <auction-table
                  :auctions="preAuctions"
                  :total="preAuctionPageData.count"
                  :is-auction="false"
                  :current-page="preCurrentPage"
                  :is-pre="true"
                  @seeDetail="onSeePreDetail"
                  @changePage="page => onChangePrePage(page)"
                />
              </div>
            </div>
          </div>
          <div class="table-auction-section">
            <div class="title-wrapper">
              <span class="title">การประมูลที่สำเร็จ</span>
            </div>
            <div class="table-auction-wrapper">
              <div class="auction-table">
                <!-- <auction-table
                  :auctions="successAuctions"
                  :total="successAuctionPageData.count"
                  :is-auction="false"
                  :current-page="successCurrentPage"
                  :is-pre="true"
                  @seeDetail="onSeeSuccessDetail"
                  @changePage="page => onChangeSuccessPage(page)"
                /> -->
                <auction-account-table
                  :auctions="successAuctions"
                  :total="successAuctionPageData.count"
                  :current-page="successCurrentPage"
                  @changePage="page => onChangeSuccessPage(page)"
                />
              </div>
            </div>
          </div>
        </div>
      </account-container>
    </base-container>
    <a-modal v-model="modalVisible" centered destroy-on-close :footer="null" :body-style="{ padding: '0' }">
      <img class="w-100pct" :style="{ maxHeight: '800px' }" :src="previewImg" alt="preview-image">
    </a-modal>
  </div>
</template>
<script>
import { get, call } from 'vuex-pathify'
import AccountContainer from '~/components/account/AccountContainer.vue'
import AuctionTable from '~/pages/auction/components/AuctionTable'
import AuctionAccountTable from '~/pages/account/components/AuctionTable'
export default {
  layout: 'gray-background',
  components: {
    AccountContainer,
    AuctionTable,
    AuctionAccountTable
  },
  middleware: 'authenticated',
  data () {
    return {
      modalVisible: false,
      previewImg: '',
      id: this.$route.params.id,
      openAuctions: [],
      preAuctions: [],
      successAuctions: [],
      openAuctionPageData: {},
      preAuctionPageData: {},
      successAuctionPageData: {},
      openCurrentPage: 1,
      preCurrentPage: 1,
      successCurrentPage: 1
    }
  },
  computed: {
    farmData: get('auction/farmData')
  },
  async fetch ({ store, params: { id } }) {
    try {
      await store.dispatch('auction/fetchFarmById', id)
    } catch (e) {

    }
  },
  mounted () {
    this.initiateData()
  },
  methods: {
    ...call('auction', [
      'fetchAuctions',
      'setBiddingAuction'
    ]),
    previewImage (url) {
      this.previewImg = url
      this.modalVisible = true
    },
    onClose () {
      this.modalVisible = false
    },
    async fetchOpenAuctions () {
      try {
        this.$wait.start('base loading')
        const { results, count } = await this.fetchAuctions({
          page: this.openCurrentPage,
          status: 'OPEN',
          farmId: this.id
        })
        this.openAuctionPageData = {
          count
        }
        this.openAuctions = results
      } catch (e) {

      } finally {
        this.$wait.end('base loading')
      }
    },
    async fetchPreAuctions () {
      try {
        this.$wait.start('base loading')
        const { results, count } = await this.fetchAuctions({
          page: this.preCurrentPage,
          status: 'PRE',
          farmId: this.id
        })
        this.preAuctionPageData = {
          count
        }
        this.preAuctions = results
      } catch (e) {

      } finally {
        this.$wait.end('base loading')
      }
    },
    async fetchSuccessAuctions () {
      try {
        this.$wait.start('base loading')
        const { results, count } = await this.fetchAuctions({
          page: this.successCurrentPage,
          status: 'CLOSE',
          farmId: this.id
        })
        this.successAuctionPageData = {
          count
        }
        this.successAuctions = results
      } catch (e) {

      } finally {
        this.$wait.end('base loading')
      }
    },
    initiateData () {
      this.fetchOpenAuctions()
      this.fetchPreAuctions()
      this.fetchSuccessAuctions()
    },
    onChangeOpenPage (page) {
      this.openCurrentPage = page.current
      this.fetchOpenAuctions()
    },
    onChangePrePage (page) {
      this.preCurrentPage = page.current
      this.fetchPreAuctions()
    },
    onChangeSuccessPage (page) {
      this.successCurrentPage = page.current
      this.fetchSuccessAuctions()
    },
    onSeePreDetail (id) {
      this.setBiddingAuction(this.preAuctions.find(auction => auction.id === id))
      this.$router.push(`/auction/bidding/${id}`)
    },
    onSeeSuccessDetail (id) {
      this.setBiddingAuction(this.successAuctions.find(auction => auction.id === id))
      this.$router.push(`/auction/bidding/${id}`)
    },
    onSelectAuction (id) {
      this.setBiddingAuction(this.openAuctions.find(auction => auction.id === id))
      this.$router.push(`/auction/bidding/${id}`)
    }
  }
}
</script>

<style lang="less" scoped>
.farm-detail {
  padding: 40px 0;
  @media only screen and (min-width: 992px) {
    padding: 40px 80px;
  }
  .title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.8rem;
    border-bottom: 1px solid rgba(158, 158, 158, 0.4);
    padding-bottom: 10px;
    color: #424242;
  }
}
.farm-img-wrapper {
  .no-img {
    height: 303px;
    min-width: 100%;
    max-width: 303px;
    border: 1px solid #EBEBEB;
  }
}

.content {
  padding: 20px 0;
  @media only screen and (min-width: 992px) {
    padding: 20px;
  }
  .item {
    color: #424242;
    font-size: 1.6rem;
    font-weight: 300;
    padding: 5px 0;
  }
  .detail {
    font-weight: 500;
    &.green {
      color: #43be39
    }
    &.red {
      color: #e34955
    }
  }
}

.table-auction-wrapper {
  padding: 20px 0;
  @media only screen and (min-width: 992px) {
    padding: 20px;
  }
  .auction-table {
    .ant-table-wrapper {
      background: white;
      border-radius: 4px;
      border-top-left-radius: 0px;
      /deep/ .ant-table-thead > tr > th {
        background: white;
      }
    }
  }
}

.title-wrapper {
  border-bottom: 1px solid rgba(158, 158, 158, 0.4);
  padding-bottom: 7px;
  display: flex;
  justify-content: space-between;
  .title {
    color: #424242;
    font-size: 1.6rem;
    font-weight: 500
  }
}
.pd-t-20px-max-lg {
  @media only screen and (max-width: 991px) {
    padding-top: 20px;
  }
}
</style>

<style scoped>
/* Vue AntD - corousel */
.ant-carousel >>> .slick-list {
  width: 100%;
}
.ant-carousel >>> .slick-dots {
  height: auto
}
.ant-carousel >>> .slick-slide .show-image{
  border: 5px solid #FFF;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ant-carousel >>> .slick-thumb {
  position: static;
  bottom: -45px;
}
.ant-carousel >>> .slick-thumb li {
  width: 60px;
  height: 45px;
}
.ant-carousel >>> .slick-thumb li img {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
}
.ant-carousel >>> .slick-thumb li.slick-active img{
  filter: grayscale(0%);
}
</style>
