<template>
  <div id="breadCrumb">
    <div v-for="(link, index) in links" :key="index" class="breadcrumb-container">
      <div>
        <div v-if="index === 0" class="link title">
          {{ link.title }}
        </div>
        <div v-else class="link">
          {{ link.title }}
        </div>
        <div v-if="link.subtitle" class="link subtitle">
          {{ link.subtitle }}
        </div>
      </div>
      <no-ssr><i v-if="index < links.length - 1" class="custom-right-icon icon fa fa-angle-right" /></no-ssr>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    links: Array
  },
  mounted () {
  }
}
</script>

<style lang="scss" scoped>
#breadCrumb {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0;
}
.breadcrumb-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @media only screen and (max-width: 768px) {
    margin-left: 0;
  }
  &:first-child {
    margin-left: 40px;
    @media only screen and (max-width: 768px) {
      margin-left: 0;
    }
  }
  .link {
    &.icon {
      margin-left: 10px;
    }
    &.title {
      font-size: 28px;
      @media only screen and (max-width: 768px) {
        font-size: 16px;
      }
      font-weight: 500;
    }
    &.subtitle {
      color: #9e9e9e;
    }
    @media only screen and (max-width: 768px) {
      font-size: 12px;
    }
  }
}
.icon {
  margin: 0 20px;
  width: auto;
  height: 30px;
  color: #9e9e9e;
}
</style>
