<template>
  <div>
    <base-container class="wrapper">
      <a-card class="card dp-flex mg-t-21px t-al-center h-100pct" style="justify-content: center">
        <div class="card__container">
          <h1 class="f-s-4 f-w-500">
            เข้าสู่ระบบ
          </h1>
          <div class="pd-vtc-40px">
            <a-input v-model="username" class="h-48px f-s-1-8 mg-bt-15px" placeholder="อีเมล" />
            <a-input v-model="password" class="h-48px f-s-1-8 mg-bt-15px" placeholder="รหัสผ่าน" type="password" />
            <!-- <div class="t-al-start">
              <a href="/">ลืมรหัสผ่าน ?</a>
            </div> -->
          </div>
          <a-button class="oa-button is-primary w-100pct h-48px" @click="onSubmit">
            เข้าสู่ระบบ
          </a-button>
        </div>
        <div>ยังไม่มีบัญชีผู้ใช้ ? <nuxt-link class="f-s-1-8" to="/register">ลงทะเบียน</nuxt-link></div>
      </a-card>
    </base-container>
  </div>
</template>

<script>
import { call } from 'vuex-pathify'
import { mapWaitingActions } from 'vue-wait'

export default {
  name: 'LoginPage',
  layout: 'hero-gray-background',
  data () {
    return {
      username: '',
      password: ''
    }
  },
  methods: {
    ...call('auth', [
      'login',
      'fetchMe'
    ]),
    ...mapWaitingActions('auth', {
      login: 'base loading',
      fetchMe: 'base loading'
    }),
    async onSubmit () {
      try {
        await this.login({
          username: this.username,
          password: this.password
        })
        await this.fetchMe()
        this.$router.push('/')
      } catch (error) {
        this.$notification.error({
          message: 'Error',
          description: 'username หรือ password ผิด'
        })
      }
    }
  }
}
</script>

<style lang="less" scoped>
.end-line () {
  border-bottom: 1px solid rgba(158, 158, 158, 0.4);
}
.wrapper {
  @media only screen and (min-width: 768px) {
    width: 600px;
  }
}
.card__container {
  width: 100%;
  margin: auto;
  padding-bottom: 30px;
  margin-bottom: 30px;
  .end-line();
  @media only screen and (min-width: 768px) {
    width: 540px;
  }
}
</style>
